@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
      url('./fonts/BebasNeueRegular.woff2') format('woff2'),
      url('./fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
}

button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596F5;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
}

.logo {
  display: block;
}

.navbar-nav {

}

.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
}

.navbar-item {
  text-align: center;
  flex: 0 1 136px;
  padding: 9px 16px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-item:hover {
  background-color: #3596F5;
}

.navbar-link {
  color: #ffffff;
}

.navbar-contacts {
display: flex;
flex-direction: column;
align-items: flex-end;
}

.navbar-text {
  display: block;
  color: #ffffff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  white-space: nowrap;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navbar-phone:hover {
  color: #3596F5;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 54px 0 96px;
  display: flex;
  gap: 30px;
}

.home-image path {
  cursor: pointer;
  opacity: 0;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 68px 0;
}

.main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  font-weight: normal;
  margin: 0;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  color: #3596F5;
  transition: color 0.3s ease-in-out;
}

.counter-button:hover {
  color: #2975c1;
}

.floor-counter {
  font-family: 'Bebas Neue', sans-serif;
  color: #635854;
  font-size: 100px;
  line-height: 1;
  padding: 30px 0 10px;
}

.button-primary {
  display: block;
  color: #ffffff;
  background-color: #3596F5;
  padding: 16px 36px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #2975c1;
}


.footer {
  background-color: #D7D7D7;
  border-top: 4px solid #3596F5;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px 0 56px;
}

.footer-img {
  margin-right: 37px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 59px;
}

.footer-text {
  font-size: 14px;
  line-height: 16px;
  color: #635854;
}

.footer-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #635854;
  transition: color 0.3s ease-in-out;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #635854;
}

.footer-social svg {
  transition: color 0.3s ease-in-out;
}

.footer-docs {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.footer-link {
  color: #635854;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}

.footer-phone:hover,
.footer-social svg:hover,
.footer-link:hover {
  color: #3596F5;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.36s ease-in-out;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-110%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color:  #EBEBEB;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 26px;
  padding: 50px;
}

.flats path {
  cursor: pointer;
  opacity: 0;
}

.flats path:hover {
  opacity: 1;
}

path.current-flat {
  opacity: 1;
}

.modal-title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flat-item {
}
.flat-link {
  color: #635854;
  transition: color 0.3s ease-in-out;
}

.flat-link:hover {
  color: #3596F5;
  text-decoration: underline;
}

.current-flat-link {
  color: #3596F5;
  text-decoration: underline;
}

.modal-alert {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #635854;
}

.modal-close {
  position: absolute;
  top: 38px;
  right: 27px;
  color: #3596F5;
  transition: color 0.3s ease-in-out;
}

.modal-close:hover {
  color: #2975c1;
}




